@import "../../../../styles.scss";

.technologies-container {
    margin-top: 50px;
    width: 100% !important;
    padding: 0 !important;
    
}

.subtitle {
    color: #1b2733;
    text-align: center;
}

.card-list {

  
    @include small-screens {
      display: flex;
      flex-direction: column;
    }
    @include very-small-screens {
      display: flex;
      flex-direction: column;
    }
    @include tablets {
      display: flex;
      flex-direction: column;
    }
    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }
  

  
  
  
  img {
    width: 250px;
    height: 250px;
    margin: auto !important;
    display: block;
   
  
    
    @include small-screens {
      width: 100px;
      height: 100px;


    }
    @include very-small-screens {
      width: 1000px;
      height: 1000px;
    }
    @include tablets {
      width: 250px;
      height: 250px;
    }
    @include mobile {
      width: 120px;
      height: 120px;
    
    }
  

  }
  .container {
    margin: auto;
  }
  .pic-holder {
    margin: auto !important;
    @include mobile {
      padding-bottom: 40px;
    
    }
    @include tablets {
      padding-bottom: 40px;
    }
    
  }.animated {
    visibility: visible !important;
}
.hide-on-init {
    visibility: hidden;
}
