<div   class="container-fluid technologies-container">
  <div class="subtitle" data-aos="zoom-out">
    <h4 id="tech-page" class="p-4">Check out what technologies we are using!</h4>
  </div>

  <div class="row pb-5">
    
    <div class="col-lg-2 pic-holder" data-aos="fade-right">
      <img src="../../../../assets/images/flutter-logo.png" alt="" />
    </div>
    <div class="col-lg-6" data-aos="fade-left">
      <app-card class="card-list-item" [card]="technologiesCards[0]">
      </app-card>
    </div>
  </div>
  <div class="row pb-5">
    <div data-aos="fade-right" class="col-lg-6">
      <app-card class="card-list-item" [card]="technologiesCards[0]"></app-card>
    </div>
    <div
      data-aos="fade-left"
      class="col-lg-4 order-first order-lg-0 pic-holder"
    >
      <img src="../../../../assets/images/angular-logo.png" alt="" />
    </div>
  </div>
</div>
<div class="row pb-5">
  <div class="col-lg-2 pic-holder" data-aos="fade-right">
    <img class="mr-2" src="../../../../assets/images/dotnet-logo.png" alt="" />
  </div>
  <div data-aos="fade-left" class="col-lg-6">
    <app-card class="card-list-item" [card]="technologiesCards[0]"> </app-card>
  </div>
</div>
