<div class="container-fluid technologies-container">
  <div class="subtitle">
    <h4 id="tech-page" class="">Check out what technologies we are using!</h4>
  </div>
  <div class="row">
    <div class="col-lg-2 pic-holder">
      <img src="../../../../assets/images/flutter-logo.png" alt="" />
    </div>
    <div class="col-lg-6">
      <app-card class="card-list-item" [card]="technologiesCards[0]">
      </app-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <app-card class="card-list-item" [card]="technologiesCards[0]"></app-card>
    </div>
    <div class="col-lg-4 order-first order-lg-0 pic-holder">
      <img src="../../../../assets/images/angular-logo.png" alt="" />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 pic-holder">
      <img src="../../../../assets/images/dotnet-logo.png" alt="" />
    </div>
    <div class="col-lg-6">
      <app-card class="card-list-item" [card]="technologiesCards[0]"> </app-card>
    </div>
  </div>
</div>