<ngb-carousel [showNavigationArrows]="false" class="carousel-container">
    <ng-template ngbSlide *ngFor="let content of contents">
        <div class="inner-content-container">
            <div class="image-container">
                <img class="image" [src]="content.image">
            </div>
            <mat-card class="content-container">
                <div class="title-container">
                    <h2>{{content.title}}</h2>
                </div>
                <div class="description-container">
                    <p class="description">{{content.description}}</p>
                </div>
                <div class="button-container">
                    <app-button type="raised" colour="warn" text="{{content.buttonString}}" (click)="content.buttonHandler()"></app-button>
                </div>
            </mat-card>
        </div>
    </ng-template>
</ngb-carousel>