.feature-card {
  box-shadow: 0 0 15px rgb(99 114 130 / 30%);
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}
.feature-card-body {
  padding: 5px 5px;
}

.feature-card .feature-card__body,
.feature-card .u-icon {
  -webkit-box-flex: 1;
  flex: 1;
}

.feature-title {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 19px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #1b2733;
  font-family: "Google Sans Bold", sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}

p {
  font-size: 14px;
  line-height: 22px;
  color: #637282;
  font-family: "Google Sans Regular", sans-serif;
}

p {
  margin-top: 0 !important;
  margin-bottom: 1rem;
  padding: 12px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.avatar {
  flex-shrink: 0;

  border: calc(3px + 0.1vw) solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-size: cover;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.3);

  display: block;
  width: 113px;
  height: 113px;
  margin: auto;
}

.body-top,
.body-bottom {
  width: 100%;
  margin: 0 auto;

  text-align: center;
  flex-wrap: wrap;
}
.body-top {
  background: rgba(26, 115, 233, 255);
  border-radius: 2px;
}
.socials {
  margin: auto;
}
.icon {
  margin: auto;
  padding: 10px;
  font-size: 30px;
  color: #637282;
  transition: ease-in-out 0.2s;
}

.icon:hover {
  color: black;
  cursor: pointer;
}
