<div class="feature-card">
  <div class="feature-card-body body-top">
    <div style="background-image: url('{{
        card.photoUrl
      }}'), linear-gradient(to bottom right, #ffff,#ffff, #ffffff);" class="avatar"></div>
  </div>
  <div class="feature-card-body body-bottom">
    <h4 class="feature-title">{{ card.name }}</h4>
    <h3> {{ card.role }}</h3>
    <p>{{ card.description }}</p>
    <div class="socials">
      <a *ngFor="let item of card.icons" [href]='item.href'>
      <i  [class]="item.icon + ' icon'" ></i>
    </a>
    </div>
  </div>
</div>