.feature-card{
    box-shadow: 0 0 15px rgb(99 114 130 / 30%);
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

.feature-card .feature-card__body, .feature-card .u-icon{
    -webkit-box-flex: 1;
    flex: 1;
}

.ghost-icon {
    font-size: 40px;
    padding-bottom: 20px;
    color: transparent;
}

.feature-title {
    font-size: 16px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #1B2733;
    font-family: "Google Sans", sans-serif;
    font-weight: 700;
}

p {
    font-size: 14px;
    line-height: 22px;
    color: #637282;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}