.container {
    max-width: 400px;
    display: grid;
}

.header{
    margin-bottom: 10px;
}

.avatar-image {
    background-image: url("https://picsum.photos/id/237/200/300");
    background-size: cover;
}

.card-image-container{

}

.card-image{
}