@import '../../../styles.scss';

.footer{
    background-color: $white;
    color: $active-link-color;
    display: flex;
    width: 100%;
    font-size: .8125rem;
    align-items: center;
    height: 4.688rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
}
img {
    width: 200px;
    @include mobile{
        width: 150px;
    }

}

.container{
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto;

    @include mobile{
        grid-template-columns: unset;
    }
}

.links{
    display: flex;
    justify-content: flex-end;

    @include mobile{
        display: none;
    }
}

.links-mobile{
    display: none;

    @include mobile{
        display: flex;
    }
}

.link{
    color: $active-link-color;
    text-decoration: none;
    padding-left: 20px;

    @include mobile{
        padding-left: unset;
        padding-right: 20px;
    }
}

.link:hover{
    text-decoration: underline;
    color: $header-colors;
}

