<nav class="navbar navbar-expand-lg">

  <div class="container-fluid row justify-content-between">
    <img src="../../../assets/images/DSC St. Clair College Light Horizontal-Logo.png" alt="" class="navbar-logo">
    <i class="far fa-computer-classic"></i>
    <div class="col">
      <div class="navbar-nav">
        
        <a
        
          routerLink="{{ link.href }}"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          *ngFor="let link of links"
          class="nav-link"
       
          >{{ link.name }}
       
          
        </a>
        <div>
     
       
            
        </div>
      </div>
    </div>
 
    <button
    (click)="openDialog()"

      class="navbar-toggler hidden-sm-up"
      type="button"
     
      aria-controls="collapsingNavbar2"
  
      aria-label="Toggle navigation"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>

</nav>

