@import "../../../styles.scss";

.navbar {
  height: 120px;
  background-color: $white;
  min-width: 100vw;
  position: sticky;
  @include mobile {
    height: 100px !important;
  }

  @include tablets {
    height: 140px !important;
  }

  @include very-small-screens {
    width: 200px !important;
  }
}
button, .mat-icon {
position: relative;
float: right;
}
button {
  display: flex;
  justify-content: center;
  color: blue;

 
  border-radius: 50%;

 
  
  



}
.mat-icon {
  transform: scale(1.7);

  position: relative;
  top: 6px;
}
.col {
  margin-left: 0;
}
.navbar-nav {
  text-align: right;
  float: right;
}

.nav-link {
  font-size: 19px;
  letter-spacing: 1px;
}


.navbar-nav a:hover {
  transform: scale(1.1);
  color: $active-link-color;
}

/* Underline From Center */
.navbar-nav a {
  color: $link-color;
  font-family: "Google Sans", Fallback, sans-serif;
  margin-left: 18px;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.navbar-nav a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  transition: all 0.2s ease-in-out;
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  background: grey;
  transition: width 0.15s ease 0s, left 0.15s ease 0s;

  width: 0;
}
.navbar-nav a:hover:after {
  width: 100%;
  left: 0;
}
.active-link::after {
  width: 100% !important;
  left: 0 !important;
}

.active-link {
  transform: scale(1.1) !important;
  color: $active-link-color !important;
}



.nav-link {
  vertical-align: auto;
}
img {
  width: 35vw;


  
  @include mobile {
    width: 280px !important;
  }

  @include tablets {
    width: 300px !important;
  }

  @include very-small-screens {
    width: 200px !important;
  }
}

.social-icons {
  color: white;
  margin: auto;
  padding: 0;
  font-size: 60px;
  text-align: center;
}


@media (max-width: 993px) {
  .col {
    display: none;
  }
}
