@import "../../../styles.scss";

.navbar {
  display: flex;
  height: 68px;
  background-color: $white;
  width: 100% !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4.5px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-width: 100vw;
  position: sticky;

  @include mobile {
    height: 50px !important;
  }

  @include tablets {
    height: 60px !important;
  }

  @include very-small-screens {
    width: 50px !important;
  }
}

.logo-container {
  align-self: flex-start;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.links-container {
  display: flex;
  height: 100%;
  font-size: 1rem;
  letter-spacing: 1px;
  vertical-align: auto;
  align-self: flex-end;
  float: right;
  align-items: center;

  @include very-small-screens {
    display: none;
  }

  @include mobile {
    display: none;
  }

  @include tablets {
    display: none;
  }
}

.logo {
  margin-left: 10px;
  width: 20vw;
  max-width: 300px;
  min-width: 200px;
}

/* Underline From Center */
.nav-link {
  font-family: "Google Sans Regular", Fallback, sans-serif;
  margin-left: 28px;
  color: #757575;
  font-size: 17px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  transition:  ease 0,5s;
}

.nav-link:hover{
  color: #757575;
}

.nav-link::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  transition: all 0.3s ease-in-out;
  display: block;
  height: 1.6px;
  left: 50%;
  position: absolute;
  background: rgb(236, 232, 232);
  transition: width 0.4s ease 0s, left 0.4s ease 0s;
  width: 0;
}

.nav-link:hover:after {
  width: 100%;
  left: 0;
}

.button-container {
  display: flex;
  height: 100%;
  align-items: center;
  align-self: flex-end;

  @include small-screens {
    display: none;
  }

  @include large-screens {
    display: none;
  }
}
