@import "../../../../styles.scss";
.container-fluid {
  padding: 0px !important;
  margin: 0px !important;
}

.intro-box {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subtitle {
  text-align: center;
  color: #1b2733;
  font-family: "Google Sans Bold", sans-serif;
  font-size:  32px;
}

.text {
  text-align: center;
  color: #637282;
  font-size:  1.2rem;
  font-family: "Google Sans Regular", sans-serif;
}

.email-button {
  border-radius: 5px;
  border: none;
  background-color: rgba(26, 115, 233, 255);
  color: $white;
  box-shadow: none;
  transition: ease-in-out 0.2s;
  font-family: "Google Sans Bold", sans-serif;
  padding: 8px 15px 8px 15px;
}

.email-button:hover {
  background-color: #1b2733;
}

.buttons {
  padding-top: 30px;
  margin: auto !important;
}
.social-button {
  margin: 0 !important;
  padding: 0 !important;
}
h2 {   color: #1b2733;
  font-family: 'Google Sans Bold';}