@import "../../../../styles.scss";

.intro-box {
  background-color: white;
  margin: auto;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  font-family: "Google Sans", Fallback, sans-serif;
  color: $header-colors;
  font-size: 6vh;
  line-height: 70px;
}
h2 {
  text-align: center;
  font-family: "Google Sans", Fallback, sans-serif;
  color: $header-colors;
  font-size: 3vh;
  margin: 0 auto;
  margin-bottom: 5px;
  border-bottom: 2px solid black;
  width: fit-content;
}
h3 {
  text-align: center;
  font-family: "Google Sans", Fallback, sans-serif;
  color: $header-colors;
  font-size: 1.5vh;
}
p {
  text-align: center;
  font-family: "Google Sans", Fallback, sans-serif;
  color: $link-color;
  line-height: 45px;
  font-size: 2.5vh;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.text-box {
  width: 90%;
  padding-top: 30px;
  margin: auto;
}
.form-holder {
  padding-top: 25px;
  padding-bottom: 25px;
}

.full-width {
  width: 100%;
}
.big-box {
  height: 70px;
}
.send-button {
  width: 120px;
  margin: 0 auto;
}
.container-fluid {
  padding: 0;
}
agm-map {
  height: 350px;
  width: 100%;
}
.col-lg-4 {
  padding: 30px;
}
.row {
  padding: 0;
  margin: 0;
}
.col-lg-3,
.col-lg-8 {
  padding: 0;
}
i {
  padding: 5px;
  font-size: 90px;
  @include mobile {
    font-size: 40px !important;
    padding: 1px !important;
  }

  @include tablets {
    font-size: 70px !important;
  }

  @include very-small-screens {
    font-size: 90px !important;
  }
}
.social-icon-col {
  padding: 0;
}
agm-map {
  box-shadow: 0 0 15px rgb(99 114 130 / 30%);
}
.container-fluid {
  padding-top: 7px;
}
