<div id="contact-page-mobile" data-aos="fade-down" data-aos-anchor="#trigger-contact"
  data-aos-anchor-placement="top-top">
  <div class="intro-box">
    <h4 class="subtitle">Want to get involved?</h4>
    <p class="p-4 text">{{ content.description }}</p>
  
    <button onclick="location.href='mailto:dscstclaircollege@gmail.com'" class="email-button">Send an email</button>
    <p class="p-4 text">Check us out on...</p>
  </div>
  <div class="buttons row justify-content-center">
    <div *ngFor="let item of icons" class="col-sm- social-button">
      <app-social-icon [icon]=item></app-social-icon>
    </div>
  </div>
</div>