@import "../../../../styles.scss";

.intro-box {
  background-color: #405c84;
  margin: auto;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  font-family: "Hammersmith One", sans-serif;
  color: white;
  font-size: 6vh;
  line-height: 70px;
}
h2 {
  text-align: center;
  font-family: "Hammersmith One", sans-serif;
  color: black;
  font-size: 3vh;
  margin: 0 auto;
  margin-bottom: 5px;
  border-bottom: 2px solid black;
  width: fit-content;
}
h3 {

  text-align: center;
  font-family: "Hammersmith One", sans-serif;
  color: black;
  font-size: 1.5vh;

}
p {
  text-align: center;
  font-family: "Hammersmith One", sans-serif;
  color: white;
  line-height: 45px;
  font-size: 3vh;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.text-box {
  width: 90%;
  padding-top: 30px;
  margin: auto;
}
.form-holder {
  padding-top: 25px;
  padding-bottom: 25px;
}

.full-width {
  width: 100%;
}
.big-box {
  height: 70px;
}
.send-button {
  width: 120px;
  margin: 0 auto;
}
.container-fluid {
  padding: 0;
}
agm-map {
  height: 350px;
  width: 100%;
}
.col-lg-4 {
  padding: 30px;
}
.row{ 
  padding: 0;
  margin: 0;
 }
.col-lg-3,
.col-lg-8 {
  padding: 0;
}
