.square {
  margin: auto;
  text-align: center;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  transition: ease-in-out 0.2s;
}

i {
  font-size: 3rem;
  text-align: center;
  margin: auto;
  text-align: center;
  vertical-align: center;
  transition: ease-in-out 0.2s;
  color: #1b2733;
}

i:hover {
  cursor: pointer;
}

.discord:hover {
  color: #7289da;
}
.linkedin:hover {
  color: #0077b5;
}
.github:hover {
  color: #6e5494;
}
.facebook:hover {
  color: #1778f2;
}
.instagram:hover {
  color: #405de6;
}
