@import "../../../../styles.scss";

.container-fluid {
  padding: 0px !important;
  margin: 0px !important;
}

.carousel-container {
  width: 100%;
}

.team-container {
  width: 100% !important;
  overflow-x: hidden;
}

.subtitle {
  color: #1b2733;
  text-align: center;
}
h2 {
  color: #1b2733;
  font-family: 'Google Sans Bold';
}
:host {
  ::ng-deep .prime-slider-override {
    .p-link {
      width: 60px;
      height: 60px;
      box-shadow: 0 0 15px rgb(99 144 130 / 15%);
      @include mobile {
        width: 25px !important;
        height: 25px !important;
      }

      @include tablets {
        width: 30px !important;
        height: 30px !important;
      }

      @include very-small-screens {
        width: 25px !important;
        height: 25px !important;
      }
    }
    .p-carousel-indicators {
      display: none;
    }
  }
}
