@import "../../../../styles.scss";
.navbar-nav {
  background-color: white;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 100vw;
}

.navbar-nav a {
  font-size: 7vw;
  padding: 0;
  color: $link-color;
  font-family: "Google Sans", Fallback, sans-serif;
  color: rgba(129,128,127,255);
  margin: 0;
}

.mat-icon {
  margin: 10px;
  transform: scale(1.3);
  position: relative;
  top: 5px;
  display: flex;
  justify-content: center;
  @include mobile {
 
  }
}
i {
  padding: 10px;
  font-size: 6vh;
}
@media (max-width: 363px) {
  i {
    padding: 20px;
    font-size: 5vh;
  }
}

.nav-link {
  letter-spacing: 3px;
  height: 10.25%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;

  justify-content: center;
  align-items: center;
}
.d-flex {
  height: 100vh;
  padding: 5px;
}
