<!-- <app-carousel></app-carousel> -->
<div
  data-aos="fade"
  data-aos-anchor-placement="top-bottom"
  class="container-fluid"
  id="about-page"
>
  <div class="content-container">
    <div class="hero">
      <div class="hero-content">
        <div data-aos="fade-up" class="title">
          <h2>Developer Student Club</h2>
          <h2 class="green">St. Clair College.</h2>
        </div>
        <div data-aos="fade-up" class="hero-blurb">
          <p>
            Google Developer Student Clubs are university based community groups
            for students interested in
            <span class="blue">Google developer technologies</span>. Students
            from all undergraduate or graduate programs with an interest in
            growing as a developer are welcome.
          </p>
        </div>
      </div>
      <div class="Header">
        <svg
          class="Header__svg"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1337.97 664.43"
        >
          <path
            class="Header__shape bigSquare"
            fill="none"
            stroke="#DB4437"
            stroke-width="8"
            d="M336.519 109.271l86.383-56.098 56.097 86.383-86.383 56.098z"
          />

          <circle
            class="Header__shape bigCircle"
            fill="none"
            stroke="#F4B400"
            stroke-width="13"
            cx="976.52"
            cy="262.17"
            r="59"
          />
          <path
            class="Header__shape littleSquare"
            fill="#4285F4"
            d="M335.923 342.61l12.372-53.59 53.59 12.372-12.372 53.59z"
          />

          <circle
            class="Header__shape littleCircle"
            fill="#0F9D58"
            cx="786.52"
            cy="103.17"
            r="27"
          />
        </svg>
        <div class="hero-image d-block mx-auto">
          <img
            class="logo-image d-block mx-auto"
            src="../../../../assets/images/dsc-icon.png"
          />
          <img
            class="text-image d-block mx-auto"
            src="../../../../assets/images/no-icon.png"
          />
        </div>
      </div>
    </div>
    <app-about class="section-spacer"></app-about>
    <app-page-divider></app-page-divider>
    <app-technologies
      id="tech-page"
      class="section-spacer"
    ></app-technologies>
    <app-page-divider id="contact-page"></app-page-divider>
    <app-contact-us class="section-spacer"></app-contact-us>
    <app-page-divider></app-page-divider>
  </div>
</div>
