<div data-aos="fade-down" class="container-fluid" id="about-page">
  <div class="content-container">
    <div class="hero">
      <div class="hero-content">
        <div data-aos="fade-up" class="title">
          <h2>Google Developer Student Club</h2>
          <h2 class="green">St. Clair College.</h2>
        </div>
        <div data-aos="fade-down" class="hero-blurb">
          <p>
 
           The <span class="blue">Google Developer Student
            Club</span> at St. Clair College supports students in growing their
            <span class="red">software development</span> knowledge. By providing opportunities to work
            on <span class="yellow">real-world projects</span>, students can <span class="green"> work, interact, and build
            relationships</span> with individuals in the IT field.
          </p>
        </div>
      </div>
      <div class="Header">
        <svg
          class="Header__svg"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1337.97 664.43"
        >
          <path
            class="Header__shape bigSquare"
            fill="none"
            stroke="#DB4437"
            stroke-width="8"
            d="M336.519 109.271l86.383-56.098 56.097 86.383-86.383 56.098z"
          />

          <circle
            class="Header__shape bigCircle"
            fill="none"
            stroke="#F4B400"
            stroke-width="13"
            cx="976.52"
            cy="262.17"
            r="59"
          />
          <path
            class="Header__shape littleSquare"
            fill="#4285F4"
            d="M335.923 342.61l12.372-53.59 53.59 12.372-12.372 53.59z"
          />

          <circle
            class="Header__shape littleCircle"
            fill="#0F9D58"
            cx="786.52"
            cy="103.17"
            r="27"
          />
        </svg>
        <div class="logo-holderd-block mx-auto">
          <div class="two-logos justify-content-center">
            <img
              class="logo-image"
              src="assets/images/left-logo.png"
            />
            <img
              class="logo-image"
              src="assets/images/right-logo.png"
            />
          </div>
          <img
            class="text-image d-block mx-auto"
            src="assets/images/graphic.png"
          />
        </div>
      </div>
    </div>
    <app-about></app-about>
    <app-page-divider></app-page-divider>
    <div id="tech-page"></div>
    <app-technologies></app-technologies>
    <app-page-divider id="team-page"></app-page-divider>
    <app-team id="trigger-contact"></app-team>
    <app-page-divider id="contact-page"></app-page-divider>
    <app-contact-us></app-contact-us>
    <app-page-divider></app-page-divider>
  </div>
</div>
